
<%= @post.comments.count%>
<div class="container-fluid">
<form action="<%= post_comments_path(@post)%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="text" name="comment[content]" rows="1" cols="40"placeholder="Add Comment">
  <input type = "submit" value="Comment" class = 'btn btn-outline-warning btn-sm'>
  </form>
  </div>
<br>
